@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&family=Play&family=Press+Start+2P&family=Source+Code+Pro&display=swap');

.divGlobal{
    align-items: center;
    justify-items: center;
    text-align: center;
    margin-top: 5%;
}

.divInputs{
    text-align: left;
    margin-left: 30%;
}

.divBotones{
    justify-content: space-between;
    margin-left: 15%;
    margin-top: 3%;
}

.divlabel{
    margin: 5px;
    margin-bottom: 20px;
    display: flex;
    font-family: 'Press Start 2P', cursive;
}

.inputs{
    background-color: transparent;
    border-radius: 5px;
    border-color: aqua;
    margin-left: 5px;
    color:aliceblue;
}

.btnConfirmar{
    border-radius: 5px;
    background-color: darkviolet;
    color:aliceblue;
    margin-right: 15px;
    font-family: 'Press Start 2P', cursive;
}

.btnCancelar{
    border-radius: 5px;
    background-color: rgb(211, 0, 207);
    color:aliceblue;
    font-family: 'Press Start 2P', cursive;
}

.divTitle{
    text-align: center;
    margin-bottom: 80px;
}

.title{
    font-family: 'Press Start 2P', cursive;
}