@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&family=Play&family=Press+Start+2P&family=Source+Code+Pro&display=swap');
.divGlobal {
    align-items: center;
    justify-items: center;
    text-align: center;
}

.centrar {
    width: 100%;
}

.divBotones {
    justify-items: center;
}

.inputs {
    justify-items: center;
    margin-top: 10px;
    width: 80%;
    background-color: transparent;
    border-radius: 5px;
    border-color: aqua;
    color: aliceblue;
}

.con {
    border-radius: 5px;
    background-color: darkviolet;
    color: aliceblue;
    justify-items: center;
    margin-top: 2%;
    font-family: 'Press Start 2P', cursive;
}

.divTitle {
    text-align: center;
}

.div {
    text-align: center;
}

.title {
    font-family: 'Press Start 2P', cursive;
}

.body {
    margin: none
}

.inputsdes {
    justify-items: center;
    margin-top: 10px;
    width: 80%;
    background-color: transparent;
    border-radius: 5px;
    font-size: 20px;
    border-color: aqua;
    background-color: #212529;
    color: rgb(255, 255, 255);
    font-family: 'Press Start 2P', cursive;
}

@media (max-width: 500px) {
    .body {
        margin: none
    }
    .inputs {
        width: 80%;
        margin: 5px;
        background-color: transparent;
        border-radius: 5px;
        border-color: aqua;
        color: aliceblue;
    }
    .title {
        font-size: 15px;
        font-family: 'Press Start 2P', cursive;
    }
    .div {
        margin-right: none;
    }
    .centrar {
        margin-right: none;
    }
    .inputsdes {
        justify-items: center;
        margin-top: 10px;
        width: 80%;
        background-color: transparent;
        border-radius: 5px;
        font-size: 20px;
        border-color: aqua;
        background-color: #212529;
        color: rgb(255, 255, 255);
        font-family: 'Press Start 2P', cursive;
    }
}