@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&family=Play&family=Press+Start+2P&family=Source+Code+Pro&display=swap');

.divG{
    margin-top: 5%;
}

.contenidosDisponibles{
    font-family: 'Press Start 2P', cursive;
    color:deeppink;
}
