@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&family=Play&family=Press+Start+2P&family=Source+Code+Pro&display=swap');

.back{

}
.back:hover, .next:hover{
    background-color: transparent;
}
.next{
    
}

h3{
    font-family: 'Press Start 2P', cursive;
    font-size: medium;
}