@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&family=Play&family=Press+Start+2P&family=Source+Code+Pro&display=swap');
.divGlobal {
    width: 60%;
    align-items: center;
    justify-items: center;
    text-align: center;
    margin-top: 2%;
}

.centrar {
    width: 100%;
}

.btnConfirmar {
    border-radius: 5px;
    width: 50%;
    background-color: rgb(112, 172, 102);
    color: aliceblue;
    font-size: 18px;
    font-family: 'Press Start 2P', cursive;
}

a {
    font-family: 'Press Start 2P', cursive;
    font-size: 10px
}

.h4 {
    margin-top: 2%;
    margin-left: 15%;
    font-size: 30px;
    font-family: 'Press Start 2P', cursive;
}

.link {
    font-size: 20px;
    color: white;
}

.body {
    margin: none;
    background-color: #11131C;
}

@media (max-width: 500px) {
    .h4 {
        font-size: 20px;
        margin-left: 1%;
        font-family: 'Press Start 2P', cursive;
        background-color: #11131C;
    }
    .btnConfirmar {
        border-radius: 5px;
        width: 60%;
        background-color: rgb(112, 172, 102);
        color: aliceblue;
        font-size: 15px;
        font-family: 'Press Start 2P', cursive;
    }
    .divGlobal {
        width: 100%;
        margin-top: 5%;
    }
    .link {
        font-size: 15px;
        color: white;
    }
    .centrar {
        width: 100%;
    }
    .body {
        margin: none;
        background-color: #11131C;
    }
    .divB {
        width: 100%;
    }
}