@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&family=Play&family=Press+Start+2P&family=Source+Code+Pro&display=swap');

.fuenteL{
    font-family: 'Press Start 2P', cursive;
    font-size: small;
    color: black;
}

.divtitulo{
    margin-bottom: 50px;
}

