@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&family=Play&family=Press+Start+2P&family=Source+Code+Pro&display=swap');

.fuente{
    font-family: 'Press Start 2P', cursive;
    font-size: small;
    color: white;
}

.fuenteT{
    font-family: 'Press Start 2P', cursive;
}

.paper{
  background-color: transparent;
}